<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.timBruce.base.web.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.timBruce.base.web.model.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="state" property="state" typeHandler="com.timBruce.base.core.generic.GenericEnumHandler"/>
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMap_CacheCade" type="com.timBruce.base.web.model.User">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="username" property="username" jdbcType="VARCHAR"/>
    <result column="sex" property="sex" jdbcType="VARCHAR"/>
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <result column="state" property="state" typeHandler="com.timBruce.base.core.generic.GenericEnumHandler"/>
    <result column="salt" property="salt" jdbcType="VARCHAR"/>
    <result column="password" property="password" jdbcType="CHAR"/>
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="picture" property="picture" jdbcType="VARCHAR"/>
    <collection property="roles" ofType="Role">
      <id column="roleid" property="id" jdbcType="BIGINT"/>
      <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
      <result column="role_sign" property="roleSign" jdbcType="VARCHAR"/>
      <result column="description" property="description" jdbcType="VARCHAR"/>
      <result column="available" property="available" jdbcType="BIT"/>
      <collection property="permissions" ofType="Permission">
        <id column="pid" property="id" jdbcType="BIGINT"/>
        <result column="permission_name" property="permissionName" jdbcType="VARCHAR"/>
        <result column="permission_sign" property="permissionSign" jdbcType="VARCHAR"/>
        <result column="pdescription" property="description" jdbcType="VARCHAR"/>
        <result column="pavailable" property="available" jdbcType="BIT"/>
      </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, sex, email, phone, state, salt, password, create_time, picture
  </sql>

  <sql id="Base_Column_List_CacheCade">
    u.id, u.username, u.sex, u.email, u.phone, u.state, u.salt, u.password, u.create_time, u.picture,
    r.id as roleid, r.role_name, r.role_sign, r.description, r.available,
    p.id as pid, p.permission_name, p.permission_sign, p.description as pdescription, p.available as pavailable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByUsernameCachecade" resultMap="BaseResultMap_CacheCade" parameterType="User">
    SELECT
    <include refid="Base_Column_List_CacheCade"/>
    from t_user u
    LEFT JOIN t_user_role ur ON u.id = ur.user_id
    LEFT JOIN t_role r ON ur.role_id = r.id
    LEFT JOIN t_role_permission rp ON r.id = rp.role_id
    LEFT JOIN t_permission p ON rp.permission_id = p.id
    WHERE u.username = #{username,jdbcType=VARCHAR}
  </select>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="User" >
    select
    <include refid="Base_Column_List" />
    from t_user
    where
    <if test="username != null" >
      username =  #{username,jdbcType=VARCHAR}
    </if>
    <if test="sex != null" >
      and sex = #{sex,jdbcType=VARCHAR}
    </if>
    <if test="email != null" >
      and email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="phone != null" >
      and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="state != null" >
      and state = #{state, typeHandler=com.timBruce.base.core.generic.GenericEnumHandler}
    </if>
    <if test="salt != null" >
      and salt = #{salt,jdbcType=VARCHAR}
    </if>
    <if test="password != null" >
      and password = #{password,jdbcType=VARCHAR}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime,jdbcType=VARCHAR}
    </if>
    <if test="picture != null" >
      and picture = #{picture,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.timBruce.base.web.model.User" >
    insert into t_user (id, username, sex, 
      email, phone, state, 
      salt, password, create_time, 
      picture)
    values (#{id,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
    #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
    #{state,typeHandler=com.timBruce.base.core.generic.GenericEnumHandler},
      #{salt,jdbcType=VARCHAR}, #{password,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{picture,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.timBruce.base.web.model.User" >
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="picture != null" >
        picture,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,typeHandler=com.timBruce.base.core.generic.GenericEnumHandler},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.timBruce.base.web.model.User" >
    update t_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,typeHandler=com.timBruce.base.core.generic.GenericEnumHandler},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.timBruce.base.web.model.User" >
    update t_user
    set username = #{username,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
    state = #{state,typeHandler=com.timBruce.base.core.generic.GenericEnumHandler},
      salt = #{salt,jdbcType=VARCHAR},
      password = #{password,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      picture = #{picture,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>